---
const { title } = Astro.props;
---

<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="stylesheet" href="src/styles/global.css" />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
